/* @font-face {
  font-family: 'CocoSharp Trial';
  src: url('./assets/fonts/CocoSharpTrial-Regular.eot');
  src: url('./assets/fonts/CocoSharpTrial-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/CocoSharpTrial-Regular.woff2') format('woff2'),
      url('./assets/fonts/CocoSharpTrial-Regular.woff') format('woff'),
      url('./assets/fonts/CocoSharpTrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CocoSharp Trial';
  src: url('./assets/fonts/CocoSharpTrial-Bold.eot');
  src: url('./assets/fonts/CocoSharpTrial-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/CocoSharpTrial-Bold.woff2') format('woff2'),
      url('./assets/fonts/CocoSharpTrial-Bold.woff') format('woff'),
      url('./assets/fonts/CocoSharpTrial-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CocoSharp Trial';
  src: url('./assets/fonts/CocoSharpTrial-Extrabold.eot');
  src: url('./assets/fonts/CocoSharpTrial-Extrabold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/CocoSharpTrial-Extrabold.woff2') format('woff2'),
      url('./assets/fonts/CocoSharpTrial-Extrabold.woff') format('woff'),
      url('./assets/fonts/CocoSharpTrial-Extrabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: 'CocoSharp Trial';
  src: url('./assets/fonts/CocoSharpTrial-Regular.eot');
  src: url('./assets/fonts/CocoSharpTrial-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/CocoSharpTrial-Regular.woff2') format('woff2'),
      url('./assets/fonts/CocoSharpTrial-Regular.woff') format('woff'),
      url('./assets/fonts/CocoSharpTrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CocoSharp Trial';
  src: url('./assets/fonts/CocoSharpTrial-Extrabold.eot');
  src: url('./assets/fonts/CocoSharpTrial-Extrabold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/CocoSharpTrial-Extrabold.woff2') format('woff2'),
      url('./assets/fonts/CocoSharpTrial-Extrabold.woff') format('woff'),
      url('./assets/fonts/CocoSharpTrial-Extrabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CocoSharp Trial';
  src: url('./assets/fonts/CocoSharpTrial-Bold.eot');
  src: url('./assets/fonts/CocoSharpTrial-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/CocoSharpTrial-Bold.woff2') format('woff2'),
      url('./assets/fonts/CocoSharpTrial-Bold.woff') format('woff'),
      url('./assets/fonts/CocoSharpTrial-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@import "tailwindcss";




@theme {

  /* font-family */

  --font-CocoSharp: "CocoSharp Trial", sans-serif;

   /*  breakpoint  */

   --breakpoint-1xl: 90rem;   /* 1400px */

  /* color */

  --color-primary: #313131;
  --color-secondary: #F9F9F9;
  
  /* fonts size */

  --text-extra-xs: 0.813rem;  /* 13px */
  --text-3.5xl: 2.125rem; /* 34px */
  --text-4.5xl: 2.75rem;  /* 44px */

  /* --border radius */

  --radius-extra-lg: 0.625rem;  /* 10px */

  /* spacing */

  --spacing-3.7: 0.975rem; /* 15.6px */
  --spacing-4.9: 1.188rem; /* 19px */
  --spacing-5.5: 1.313rem; /* 21px */
  --spacing-6.5: 1.625rem; /* 26px */
  --spacing-13: 3.3rem; /* 52px */
  --spacing-17: 4.5rem; /* 72px */
  --spacing-30: 7.5rem; /* 120px */

  /* blur */

  --blur-2xs: 14px;


}


@layer base{
  h1{
    @apply text-5xl lg:text-7xl xl:text-[6.236rem] font-extrabold xl:leading-[6.644rem] mb-4
  }
  h2{
    @apply text-3xl md:text-4xl lg:text-4.5xl font-extrabold leading-13
  }
  h3{
    @apply text-3.5xl font-bold leading-11 
  }
  h4{
    @apply text-white text-base lg:text-2xl font-extrabold
  }
  h5{
    @apply text-xl font-bold
  }
  h6{
    @apply text-base font-extrabold text-black leading-6
  }
  p{
    @apply text-base font-normal leading-6.5
  }
  button{
    @apply cursor-pointer
  }
  
}

  .swiper-slide{
    @apply px-[1.375rem]
  }

  .swiper-button-prev{
    @apply left-0!
  }
  .swiper-button-next{
    @apply right-0!
  }

  .swiper-button-next, .swiper-button-prev {
    @apply w-11! h-11!  bg-primary rounded-full
  }
  .swiper-button-prev:after, .swiper-button-next:after{
    @apply text-white text-xl! font-extrabold
  }


@layer components{
  .btn{
    @apply bg-primary px-5.5 py-4.9 rounded-extra-lg text-white text-extra-xs leading-3.7 font-bold
  }
  .hero-card-item{
    @apply text-center relative md:before:absolute before:top-5 before:bottom-6 before:-right-6 xl:before:-right-12 before:w-px before:bg-primary/20
  }
  .h4{
    @apply absolute top-1/2 left-4 lg:left-9 max-w-32 -translate-y-1/2
  }
  .help-input{
    @apply bg-white/95 px-5 py-4.9 rounded-extra-lg placeholder:text-primary/40 focus:outline-0
  }
  
}

@utility container{
  @apply mx-auto px-3;
  @media (width >= 90rem /* 1440px */) {
        max-width: var(--breakpoint-1xl) /* 1440px */;
        padding-inline: 4rem  /* 64px */; 
    }
}





